*{
    margin: 0px;
    padding: 0px;
}
.parent{
    margin: 250px;
    border: 2px solid blue;
    width: 250px;
    height: 350px;
    background-color: rgb(16, 16, 249);
    border-radius: 15px;
    border: none;
    box-shadow: 1px 5px 5px 3px;
}
img{
    margin: 15px;
    width: 220px;
    height: 250px;
    background-color: blue;
}
.head{
    text-align: center;
    color: rgb(0, 4, 7);
    width: 250px;
    height: 70px;
   border: none;
   outline: none;
   font-weight: bold;
   background-color: rgb(252, 247, 245);
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}
body{
    background-color: grey;
}